header{
    height: 100px;

    img{
      height: 80px;
    } 

    li{
        list-style-type: none;
        margin-left: 0.8rem;
        line-height: 100px;

        a{
        text-decoration: none;
        color: black;
        font-size: 0.8rem;

            &:hover{
            color: rgb(0, 136, 245);
            }    
        }  
    }
    
    .selected{
        border-bottom: 5px solid rgb(0, 136, 245);

        a{
            color: rgb(0, 136, 245);
        }    
    }   
}